* {
    margin: 1;
    font-family: Arial, Helvetica, sans-serif;
}

#container div {
    border-radius: 10px;
    padding: 10px;
}

.card {
    border: 3px blue double;
    border-radius: 10px;
    text-align: center;
}

.blue-box {
    color: white;
    background-color: blue;
    border-radius: 10px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 80px;
    gap: 5px;
}

#enterprise {
    grid-column: 3;
    grid-row: 1/3;
}

#blue-box {
    grid-column: 1/3;
}

.importante {
    color: blue;
    font-weight: bold;
}

.negrita {
    font-weight: bold;
}

.vps {
    text-align: center;
}