body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    /*Variables para colores*/
    --color-principal: #006400;
    --color-pastel: #A8E6CF;
    --color-texto-oscuro: #333;
    --color-acento: #90EE90;
    min-height: 100vh;
}

.bloque {
    border: 1px solid var(--color-principal);
    padding: 15px;
}

#layout {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "aside main main"
        "footer footer footer"
    ;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

header {
    grid-area: header;
    color: white;
    background-color: var(--color-principal);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

aside {
    grid-area: aside;
    background-color: var(--color-pastel);
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: var(--color-principal);
}

nav ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ol li {
    display: inline-block;
    position: relative;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: var(--color-texto-oscuro);
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--color-pastel);
    color: var(--color-principal);
    transition: background-color 0.3s;
}

nav ol li ol {
    display: none;
    position: absolute;
    min-width: 150px;
}

nav ol li ol li {
    margin: 2px 0;
}

nav ol li:hover>ol {
    display: block;
}

.articulos-flex{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

main article{
    background-color: var(--color-acento);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px var(--color-principal);
}

@media (max-width:800px) {

    #layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "main main main"
            "aside aside aside"
            "footer footer footer"
        ;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .articulos-flex{
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        gap: 20px;
    }

}